@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Courgette&family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Courgette&family=Dancing+Script:wght@500&family=Sedgwick+Ave+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    position: relative;
    overflow-y: hidden;

}
.top-header{
    font-family: 'Dancing Script', cursive;
    margin: 20px 0 0 40px;
}

.container{
    top: 0%;
    width: 100%;
    height : 100vh;
    /* background-image: linear-gradient(to right , cyan , blue); */
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    /* position: relative; */
}
.search-box{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 40px;
    border-radius: 40px;
    padding: 20px;
    font-weight: bolder;
}

.find{
    font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 50px;
    font-style: italic;
    color: cyan;
    display: flex;
    justify-content: center;
}
.search-item{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    position: relative;
}

.search-item ::placeholder {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: black;
}


.search{
    width: 400px;
    height: 30px;
    margin-top: 10px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: rgb(129, 19, 148);
    padding: 20px;
    border: 4px solid purple;
    border-radius: 25px;

}

.button{
    position: absolute;
    top: 13%;
    left: 103%;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 25px;
    outline: none;
    border: 3px solid purple;
    padding: 11px;
}
.search-item :hover{
    background-color: rgba(173, 46, 169, 0.5);
    transition: 0.5s ease-in-out;
}

.result-section{
    position: absolute;
    top: 40%;
    left: 35%;
    bottom: 9%;
    box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
    0px 2px 4px rgba(0,255,255,0.5), 
    0px 4px 8px rgba(0,255,255,0.5), 
    0px 8px 16px rgba(0,255,255,0.5);
    border-radius: 20px;
    /* overflow: hidden;
    display: none; */
}
.content{
    position: relative;
    width: 500px;
    height: 400px;
    background: white;
    border-radius: 20px;
    padding: 40px;
    
}

.sound-box{
    display: flex;
    justify-content: space-between;
    padding: 6px;
}
.sound-box button{
    width: 25px;
    padding: 5px;
}
.phonetics{
    display: flex;
    font-size: 10px;
    margin-left: 5px;
}
.italic{
    font-size: 10px;
    font-style: italic;
    margin-left: 5px;
}

.meaning{
    margin-top: 50px;
}

.para-meaning{
    margin-left: 5px;
    font-size: 15px;
    font-weight: bolder;
}

.example{
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    border-left: 3.5px solid rgb(255, 0, 149);
}

.learning{
    margin-top: 45px;
    margin-left: 80px;
}
.warning{
    margin-top: 60px;
    margin-left: 80px;
    font-weight: bolder;
}
.play{
    border-radius: 40px;
    border: 0.5px solid rgb(0, 0, 0);
    padding: 30px;
    width: 20px;
}
.play :hover{
    background: rgb(0, 0, 0);
}

@media screen and (max-width: 1180px) {
    .body{
        overflow-x: hidden;
    }
    .container {
      flex-direction: column;
      align-items: center;
    }
    
    .search-box {
      top: 10%;
        left: 50%;
    }
    
    .result-section {
      top: 51%;
      left: 52%;
      transform: translate(-50%, -50%);
      width: 70%;
      border-radius: 10px;
     
    }
    
    .content {
      width: 100%;
      border-radius: 10px;

    }
    .search-item{
        display: flex;
        justify-content:space-around;
        width: 250px;
    }   
    .search{
        width: 260px;
        height: 30px;

    }
    
    .sound-box {
      justify-content: space-between;
    }
    
    .phonetics,
    .italic {
      font-size: 14px;
    }
    
    .example {
      font-size: 20px;
    }
    
    .play {
      padding: 15px;
    }
    .learning{
        display: none;
    }
  }
  